<body>
    <div [ngClass]="'banner-area'">
        <header>
            <a href="https://ea2021grup5.wordpress.com/" [ngClass]="'logo'">EA-Grup 5</a>

            <ul [ngClass]="'menu'">
                <li><a routerLink="/" >Contacto</a></li>
                <li><a routerLink="/">Home</a></li>
            </ul>
        </header>

        <div [ngClass]="'banner-text'">
            <h2>LOOPING</h2>
            <p>Encuentra a gente que quiera ayudarte con tus proyectos</p>
            <a routerLink="/register">Registrarse</a>
            <a routerLink="/login">Iniciar sesión</a>
        </div>

    </div>
</body>

