
        <div [ngClass]="'wrapper'">
            <div [ngClass]="'title'">
                <h1>
                      LOOPING
                </h1>
                <h2>
                    Una plataforma para soñadores
                </h2>
            </div>
            
            <button [ngClass]="'buttonReg'" class="btn btn-primary btn-lg" routerLink="/register">
                Registrarse
            </button>
            <button [ngClass]="'buttonSes'" class="btn btn-outline-primary btn-lg" routerLink="/login">
                Iniciar sesión
            </button>
        </div>
 
    

