.wrapper {
    text-align: center;
}

.buttonReg {
    position: absolute;
    top: 50%;
    margin-left: -200px;
   
}
.buttonSes {
    position: absolute;
    top: 50%;
    margin-left: 0px;
}
.title{
    margin-top:250px;
    margin-left:-50px;
}
